<!DOCTYPE HTML>
<html>
    <head>
        <title>Oration</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="main.css" />
        <meta name="description" content="A fast, lightweight and secure platform for your comments" />
        <meta name="author" content="Tim DuBois" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css" integrity="sha256-jyTNdvrzQ6apVgu4tZoAUKxLo5W+oN47Td9rTdFLrBs=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.9.0/themes/prism.css" integrity="sha256-P0Hbxu6mXtsN1vgoz5E3TyC6//DF7pPi7VT97mygYgU=" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.9.0/prism.min.js" integrity="sha256-hK55yYjZp3vXqUhowkWYVaoavcWSYRR6fE8sgHqyt5A=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.9.0/components/prism-rust.min.js" integrity="sha256-sMEzcAp7rur4qCvzfsFa734SJVJtH6xxN0CGRoPXlsA=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.9.0/components/prism-makefile.min.js" integrity="sha256-pbm9rQGN4Ore8f63Nc0XohO/ndkqmaCkiM+t++tZS6s=" crossorigin="anonymous"></script>

    </head>
    <body>

        <!-- Page wrapper -->
        <div id="page-wrapper">

            <!-- Header -->
            <header id="header" class="alt">
                <span class="logo"><a href="index.html">Oration</a> <span>Power by Rust, Elegance by Elm</span></span>
                <a href="#menu">Menu</a>
            </header>

            <!-- Nav -->
            <nav id="menu">
                <div class="inner">
                    <h2>Menu</h2>
                    <ul class="links">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Details</a></li>
                        <li><a href="#">Documentation</a></li>
                        <li><a href="#">Log In</a></li>
                        <li><a href="#">Sign Up</a></li>
                    </ul>
                    <a class="close">Close</a>
                </div>
            </nav>

            <!-- Banner -->
            <section id="banner">
                <div class="inner">
                    <p>A fast, lightweight and secure platform for your comments.</p>
                    <img src="images/logo.svg" width="80px" /><h1>Oration</h1>
                    <ul class="actions">
                        <li><a href="#one" class="button big special scrolly">Learn More</a></li>
                    </ul>
                </div>
            </section>

            <!-- One -->
            <section id="one" class="wrapper style2">
                <div class="inner">
                    <section class="spotlights">
                        <article>
                            <header class="major">
                                <p>Magna</p>
                                <h2>Dolor sit amet vivamus</h2>
                            </header>
                            <p>Phasellus in ante vitae nibh porttitor tempus vitae ut ante. Vestibulum blandit ex a elementum viverra. Sed quat diam, aliquet tempus felis nisl at lacus.</p>
                            <ul class="actions">
                                <li><a href="#" class="button">More</a></li>
                            </ul>
                        </article>
                        <article>
                            <header class="major">
                                <p>Lorem</p>
                                <h2>Ipsum dolor sit amet</h2>
                            </header>
                            <p>Phasellus in ante vitae nibh porttitor tempus vitae ut ante. Vestibulum blandit ex a elementum viverra. Sed quat diam, aliquet tempus felis nisl at lacus.</p>
                            <ul class="actions">
                                <li><a href="#" class="button">More</a></li>
                            </ul>
                        </article>
                    </section>
                </div>
            </section>

            <!-- Two -->
            <section id="two" class="wrapper style1 special">
                <div class="inner">
                    <ul class="features">
                        <li>
                            <span class="icon major fa-bar-chart"></span>
                            <h4>Placerat</h4>
                            <p>Lorem ipsum dolor sit amet nullam et consequat.</p>
                        </li>
                        <li>
                            <span class="icon major fa-paper-plane-o"></span>
                            <h4>Libero</h4>
                            <p>Lorem ipsum dolor sit amet nullam et consequat.</p>
                        </li>
                        <li>
                            <span class="icon major fa-area-chart"></span>
                            <h4>Solicitu</h4>
                            <p>Lorem ipsum dolor sit amet nullam et consequat.</p>
                        </li>
                        <li>
                            <span class="icon major fa-file-image-o"></span>
                            <h4>Tempor</h4>
                            <p>Lorem ipsum dolor sit amet nullam et consequat.</p>
                        </li>
                    </ul>
                </div>
            </section>

            <!-- Three -->
            <section id="three" class="wrapper">
                <div class="inner">
                    <header class="major alt">
                        <p>Interested?</p>
                        <h2>Try it out for yourself</h2>
                    </header>
                    <section class="posts">
                        <article>
                            <div id="comments"></div>
                            <div class="content">
                                <p>The best way to see what Oration can do it to give it a test drive.
                                    To the right is a functional instance of v0.1.1 running on the same VPS that hosts this webpage.
                                    Setup is quite straightforward, and should take around 5 minutes to integrate with your site.</p>
                                <ul class="actions">
                                    <li><a href="#" class="button">Documentation</a></li>
                                </ul>
                            </div>
                        </article>
                    </section>
                </div>
            </section>

            <!-- Four -->
            <section id="four" class="wrapper style2 alt">
                <div class="inner">
                    <header class="major">
                        <p>Malesuada</p>
                        <h2>Aliquam tincidunt mauris eu risus</h2>
                    </header>
                    <section class="timeline">
                        <section>
                            <header>
                                <p>09.04.16</p>
                                <h4>Magna etiam sed lorem ipsum dolor amet</h4>
                            </header>
                            <span class="image"><img src="images/pic02.jpg" alt=""></span>
                            <div class="content">
                                <p>Phasellus in ante vitae nibh porttitor tempus vitae ut ante. Vestibulum blandit dolor elementum viverra. Sed quat a diam, aliquet tempus felis. Phasellus et magna vitae nibh porttitor tempus vitae.</p>
                                <ul class="actions">
                                    <li><a href="#" class="button">More</a></li>
                                </ul>
                            </div>
                        </section>
                        <section>
                            <header>
                                <p>08.28.16</p>
                                <h4>Sed feugiat et mauris adipiscing dolor</h4>
                            </header>
                            <span class="image"><img src="images/pic03.jpg" alt=""></span>
                            <div class="content">
                                <p>Phasellus in ante vitae nibh porttitor tempus vitae ut ante. Vestibulum blandit dolor elementum viverra. Sed quat a diam, aliquet tempus felis. Phasellus et magna vitae nibh porttitor tempus vitae.</p>
                                <ul class="actions">
                                    <li><a href="#" class="button">More</a></li>
                                </ul>
                            </div>
                        </section>
                        <section>
                            <header>
                                <p>08.22.16</p>
                                <h4>Tellus magna dolore sed elementum</h4>
                            </header>
                            <span class="image"><img src="images/pic04.jpg" alt=""></span>
                            <div class="content">
                                <p>Phasellus in ante vitae nibh porttitor tempus vitae ut ante. Vestibulum blandit dolor elementum viverra. Sed quat a diam, aliquet tempus felis. Phasellus et magna vitae nibh porttitor tempus vitae.</p>
                                <ul class="actions">
                                    <li><a href="#" class="button">More</a></li>
                                </ul>
                            </div>
                        </section>
                    </section>
                </div>
            </section>

            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <ul class="contact">
                        <li class="icon fa-home">
                            <strong>Address</strong>
                            1234 Fictional Avenue<br>Nashville, TN 00000
                        </li>
                        <li class="icon fa-phone">
                            <strong>Phone</strong>
                            (000) 000-0000
                        </li>
                        <li class="icon fa-envelope">
                            <strong>Email</strong>
                            information@untitled.tld
                        </li>
                    </ul>
                    <form action="#" method="post">
                        <h4>Get in touch</h4>
                        <div class="field half first">
                            <label for="name">Name</label>
                            <input name="name" id="name" type="text" placeholder="Name">
                        </div>
                        <div class="field half">
                            <label for="email">Email</label>
                            <input name="email" id="email" type="email" placeholder="Email">
                        </div>
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
                        </div>
                        <ul class="actions">
                            <li><input value="Send Message" class="button big" type="submit"></li>
                        </ul>
                    </form>
                </div>
                <div class="copyright">
                    &copy; Tim DuBois &mdash; 2018
                </div>
            </footer>

        </div>

        <!-- Scripts -->
        <script src="js/jquery.min.js"></script>
        <script src="js/skel.min.js"></script>
        <script src="js/util.js"></script>
        <script src="js/jquery.scrollex.min.js"></script>
        <script src="js/jquery.scrolly.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/oration.js"></script>

    </body>
</html>
